@use "../init/index" as *;

.inner-content{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    @media screen and (max-width: 1200px) {
        max-width: 100%;
        padding: 0 64px;
        object-fit: cover;
    }
    @media screen and (max-width: 768px) {
        padding: 0 32px;
    }
}